@import "colors.css";

* {
  border: none;
  border-radius: 0px;

  font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
  font-size: 15px;
  font-weight: bold;

  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @surface_container_low;
  border-radius: 12px;
}

tooltip label {
  color: @primary;
  padding: 2px;
  font-size: 14px;
}

#workspaces {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 3px;
  margin: 0 0 0 6px;
  border-radius: 18px;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 3px;
  border-radius: 50px;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @primary;
  color: @surface_container;
  min-width: 50px;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}

#workspaces button:hover {
  background-color: @outline;
  color: @surface_container;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#clock,
#pulseaudio,
#network,
#battery,
#power-profiles-daemon {
  background-color: rgba(0, 0, 0, 0.5);
  color: @primary;
  padding: 0 15px 0 15px;
  margin: 0 0 0 6px;
  border-radius: 50px;
}

#power-profiles-daemon {
  border-radius: 50px 0 0 50px;
  padding-right: 4px;
}

#battery {
  border-radius: 0 50px 50px 0;
  padding-left: 4px;
  margin-left: 0;
  
}

#clock {
  margin-left: 0;
}
